<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <clear />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  <add key="microservice-packages" value="https://esterdevops.esterteknoloji.local/Ester/_packaging/microservice-packages/nuget/v3/index.json" />
 </packageSources>
  <packageSourceCredentials>
    <customfeed>
      <add key="Username" value="abasda" />
      <add key="ClearTextPassword" value="ponznghhjddjo3ny4bn5dmiwr76jcd4l34fo564fgflpjxyxslda" />
    </customfeed>
  </packageSourceCredentials>
</configuration>