@using Core.Persistence.Models.Responses;
@using Jumper.Application.Features.EntityDefinitions.Queries.GetByLoggedUserId;
@using Newtonsoft.Json;

@model ListModel<GetByLoggedUserIdEntityDefinitionResponse>

<select class="form-control form-control-sm" name="EntityDefinitionId">
    <option value="@null">Nesne Seçin</option>
    @foreach (var item in Model.Items)
    {
        <option data-value="@JsonConvert.SerializeObject(item)" value="@item.Id">@item.Name</option>
    }
</select>
